  <entry>
    <title><%= h(title) %></title>
    <link rel="alternate" type="text/html" href="<%= h(entry_url) %>"/>
    <id><%= h(entry_id) %></id>
    <updated><%= updated %></updated>
    <content type="html"><%= content %></content>
  </entry>
